.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 25vw;
  margin-top: -5vh;
  margin-bottom: 3vh;
}

.App-main {
  margin: 0 auto;
  min-height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

#icon-credit, #icon-credit a {
  font-size: xx-small;
}

#icon-credit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#error-message {
  color: red;
}

#option-ul {
  text-align: center;
  padding-inline-start: 0px;
  min-width: 50%;
  min-height: 30%;
  margin: 10px 0;
}

textarea {
  resize: none;
}
.option {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}

.address {
  list-style-type: none;
  padding: 0 10px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #770058;
  color: red;
}

.click-to-copy {
  color: #ffbdf8;
  font-size: 150%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#welcome-background {
  background-color: #9E0031;
  color: #ffbdf8;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  text-align: center;
}

#main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #8E0045;
  color: #ffbdf8;
  overflow: hidden;
}

#options-background {
  background-color: #770058;
  color: #ffbdf8;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  overflow: hidden;
}

.fas {
  color: red;
}

.fas:hover {
  color: #ffbdf8;
}

#options-container {
  width: 80%;
  height: 100%;
  margin-left: 17%;
  position: absolute;
  top: 0;
}

#back {
  font-size: 150%;
  position: relative;
  top: 50%;
  width: 20px;
  margin: 0 auto;
}


#back-button {
  margin: 0 auto;
  background-color:rgba(0,0,0,0.0);
  border: 1px solid #ffbdf8;
  border-radius: 5px;
  max-width: 90%;
  min-height: 10%;
  padding: 0 30px;
  font-size: 150%;
  color: #ffbdf8;
}

#back-button:hover {
  cursor: pointer;
}

#back-button:active {
  font-size: 170%;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

#closed-drawer-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 7%;
}

#closed-drawer-container:hover {
  cursor: pointer;
}

#description {
  margin: 15% auto;
  width: 80%;
}

#welcome {
  font-size: 150%;
  padding: 0 20px;
}

#copyright {
  background-color: #770058;
}

.footer {
  position: absolute;
  height: 5%;
  bottom: 0;
  left: 0;
  width: 80%;
  margin-left: 17%;
  z-index: 8;
  color: #ffbdf8;
}

h1 {
  font-weight: 900;
  font-size: 1em;
}

a {
  color: #ffbdf8;
}

@media only screen and (max-width: 600px) {
  .fas {
    font-size: 70%;
  }

  #back-button {
    margin-top: 40%;
  }
  
  .option {
    margin: 10px auto;
  }

  .footer {
    height: 8%;
  }

  h1 {
    font-weight: 900;
    font-size: 0.9em;
  }

  #copyright {
    font-size: 70%;
  }
}

@media (min-aspect-ratio: 10/5) {
  #back-button {
    margin-top: 0px;
  }

  #description {
    margin: 0 auto;
  }
}