#searchbar-button, #searchbar-input {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}
#searchbar-button {
    border-left: none;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

#searchbar-input {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

#searchbar-input:focus {
    outline: 0;
}

#searchbar-input:focus {
    outline: none;
}

#searchbar-container {
    position: absolute;
    margin-top: 70px;
}