#searchbar-button, #searchbar-input {
    background-color: #8E0045;
    border: 1px solid #ffbdf8;
    border-radius: 5px;
    padding: 3px;
    color: #ffbdf8;
}
#searchbar-button {
    border-left: none;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

#searchbar-input {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

#searchbar-input:focus {
    outline: 0;
}

#searchbar-input:focus {
    outline: none;
}

#searchbar-input::placeholder {
    color: #ffbdf8;
    opacity: 0.5;
}